<div class="container">
  <section id="hero">
    <div class="bg-secondary text-light m-5 p-3 rounded">
      <h1>Texto de bienvenida!</h1>
      <h3>Explicacion del sitio</h3>
    </div>
  </section>
  <section id="posts">
    <div class="max-w-content mx-auto">
      <div *ngIf="campaignList.length > 0">
        <div
          *ngFor="let item of campaignList"
          class="card card-body my-5 campaign-card"
        >
          <h3 class="text-dark">{{ item.title | uppercase }}</h3>
          <p class="text-body">{{ item.body | slice: 0:320 }}</p>
          <h6 class="fw-light fs-italic">Autor: {{ item.authorID }}</h6>
          <p class="fw-light text-muted">
            Creado: {{ item.createdAt | date: "y-m-d" }}
            <span
              *ngIf="
                item.updatedAt &&
                item.createdAt &&
                item.updatedAt > item.createdAt
              "
            >
              | Actualizado: {{ item.updatedAt | date: "y-m-d" }}
            </span>
          </p>
          <button
            *ngIf="item._id"
            (click)="readMore(item._id)"
            class="btn btn-outline-primary"
          >
            Leer más ...
          </button>
        </div>
      </div>
      <span *ngIf="campaignList.length === 0" class="text-secondary">
        No hay campañas para mostrar
      </span>
    </div>
  </section>
</div>
