<div class="d-flex dashboard">
  <section id="sidebar">
    <div class="sidebar">
      <ul>
        <li>
          <a href="">Opcion</a>
        </li>
        <li>
          <a href="">Opcion</a>
        </li>
        <li>
          <a href="">Opcion</a>
        </li>
        <li>
          <a href="">Opcion</a>
        </li>
        <li>
          <a href="">Opcion</a>
        </li>
      </ul>
    </div>
  </section>
  <section id="content">
    <div class="dashboard-content">
      <h3>Aqui mostraremos los distintos contenidos de administracion</h3>
    </div>
  </section>
</div>
