<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['mar']" >Marca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['login']">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['register']">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['dashboard']">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>





<nav>
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/']" class="brand"> MARCA </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/login']"> entrar </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/register']"> registrar </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard']"> dashboard </a>
    </li>
  </ul>
</nav>
